
body.popup {
	background-color: #888;
	height: 576px;
	min-width: 176px;
}

#loading {
	position: absolute;
	z-index: 1;
	width: calc(100% - 16px);
}

#bottom_padding {
	height: 8px;
	background-color: transparent;
	float: left;
}

#tab_template_container {
	display: none
}

.tab {
	width: 176px;
	height: 176px;
	margin: 8px;
	padding: 0px;
	background-color: #fff;
	box-shadow: 4px 4px 4px rgba(0.5, 0.5, 0.5, 0.2);
	position: relative;
	display: inline-block;
	float: left;
	user-select: none;
}

.tab_cover.darken {
	animation-name: darken-tab-cover;
	animation-duration: 0.5s;
}

@keyframes darken-tab-cover {
	from {
		background-color: #00000018;
	}

	to {
		background-color: transparent;
	}
}

.tab.dragging, .tab.entered.dragging {
	box-shadow: 4px 4px 12px rgba(0.5, 0.5, 0.5, 0.5);
}

.tab.dragging .tab_cover, .tab.entered.dragging .tab_cover {
	background-color: #00000011;
}

.tab.dragging .tab_cover.selected, .tab.entered.dragging .tab_cover.selected {
	background-color: #00000066;
}

.tab.entered {
	box-shadow: 4px 4px 8px rgba(0.5, 0.5, 0.5, 0.4);
}

.new_tab {
	background-color: #ffff;
}

.tab_fixed {
	background-color: #ddd;
}

.tab_title {
	max-width: 168px;
	width: 168px;
	height: 18px;
	margin: 4px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.tab_group_cover {
	position: absolute;
	max-width: 168px;
	width: 168px;
	left: 0px;
	bottom:	0px;
	height: 19px;
	padding: 4px;
	opacity: 50%;
	white-space: nowrap;
    overflow: hidden;
	background: #FFFFFF;
}

.tab_group {
	position: absolute;
	max-width: 168px;
	width: 168px;
	left: 0px;
	bottom:	0px;
	height: 19px;
	padding: 4px;
	opacity: 70%;
	white-space: nowrap;
    overflow: hidden;
	background: #00000088;
}

.tab_group_name {
	position: absolute;
	max-width: 168px;
	width: 168px;
	left: 0px;
	bottom:	0px;
	height: 19px;
	padding: 4px;
	color: black;
/*	text-shadow: 0px 0px 1px gray;*/
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	background: transparent;
    -webkit-text-overflow: ellipsis;
}

.tab_group_none {
	position: absolute;
	width: 176px;
	height: 27px;
	bottom: 0px;
	right: 0px;
	background: #FFFFFF88;
}

.tab_title.entered {
	max-width: 146px;
	width: 146px;
}

.tab_favicon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	vertical-align: middle;
}

.tab_title_span {
	height: 16px;
	margin-right: 4px;
	font-family: sans-serif;
	vertical-align: middle;
	position: relative;
    z-index: 3;
}

.tab_close {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 2px;
	right: 2px;
	text-align: center;
	vertical-align: middle;
    z-index: 5;
}

.tab_close img {
	margin: 3px;
	text-align: center;
	vertical-align: middle;
}

.tab_close.entered {
	background: #0003;
}

.tab_button {
	position: absolute;
	width: 22px;
	height: 22px;
	text-align: center;
	vertical-align: middle;
  z-index: 10;
}

.tab_group_add {
	bottom: 2px;
	right: 26px;
}

.tab_group_make {
	bottom: 2px;
	right: 2px;
}

.tab_group_left {
	bottom: 2px;
	right: 26px;
}

.tab_group_right {
	bottom: 2px;
	right: 26px;
}

.tab_group_ungroup {
	bottom: 2px;
	right: 2px;
}

.tab_group_add img, .tab_group_make img, .tab_group_left img, .tab_group_right img, .tab_group_ungroup img {
	margin: 3px;
	text-align: center;
	vertical-align: middle;
}

.tab_group_add.entered, 
.tab_group_make.entered, 
.tab_group_left.entered, 
.tab_group_right.entered, 
.tab_group_ungroup.entered {
	background: #0003;
}

.tab.selected .tab_close.entered, 
.tab.selected .tab_group_add.entered, 
.tab.selected .tab_group_make.entered, 
.tab.selected .tab_group_left.entered, 
.tab.selected .tab_group_right.entered, 
.tab.selected .tab_group_ungroup.entered {
	background: #fff3;
}

.tab_thumbnail {
	width: 176px;
	height: 150px;
	background-color: #dddddd;
	object-fit: cover;
	object-position: 0% 0%;
}

.tab_pin {
	width: 24px;
	height: 24px;
	left: 76px;
	top: -12px;
	position: absolute;
	z-index: 2;
}

.tab_clickable {
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 176px;
	height: 176px;
	position: absolute;
	z-index: 1;
	background-color: transparent;
	line-height: 176px;
	font-size: 4em;
	color: #aaa;
	text-align: center;
	vertical-align: middle;
   	user-select: none;
}

.tab_clickable.dragging {
	position: fixed;
	left: 2px;
	top: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	z-index: 1000;
}

.tab_cover {
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 176px;
	height: 176px;
	position: absolute;
	z-index: 1;
	background-color: transparent;
	line-height: 176px;
	font-size: 4em;
	color: #aaa;
	text-align: center;
	vertical-align: middle;
   	user-select: none;
}

.tab_cover.selected {
	background-color: #0006;
}

.highlighted {
	outline: 4px solid #FF0000;
}

.hidden {
	display: none;
}

#separator {
	height: 48px;
	text-align: center;
	padding: 16px 16px 0px 16px;
	float: left;
}

#separator .separator_bar {
	width: 100%;
	text-align: center;
	background-color: #888;
	margin: 4px 0px 12px 0px;
	height: 0px;
}

#separator .separator_other_windows {
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bottom_button_div {
	width: 176px;
	margin: 12px 0px 0px 0px;
	padding: 4px;
	text-align: right;
	float: right;
}

#bottom_button_options {
	padding: 6px;
	background: #00000044;
	border-style: none;
	color: white;
	border-radius: 6px;
}

#bottom_button_options:active {
	background: #00000066;
}

.options {
	padding: 4px 8px;
}

.options p {
	margin: 4px 0px;
}

#options_color_preview {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}

.opaque {
	opacity: 0.75;
}

.translucent {
	opacity: 0.25;
}

.transparent {
	opacity: 0;
}


/* From Single Element CSS Spinners */

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
