
body {
	min-width: 576px;
	min-height: 512px;
	background-color: #888;
}

#content {
	width: 576px;
}

#bottom_padding {
	width: 576px;
	height: 8px;
	background-color: transparent;
	float: left;
}

#tab_template_container {
	display: none
}

.tab {
	width: 176px;
	height: 176px;
	margin: 8px;
	padding: 0px;
	background-color: #fff;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	display: inline-block;
	float: left;
}

.new_tab {
	background-color: #ffff;
}

.tab_fixed {
	background-color: #ddd;
}

.tab_title {
	max-width: 168px;
	width: 168px;
	height: 18px;
	margin: 4px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.tab_favicon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.tab_title_span {
	height: 18px;
	margin-right: 4px;
	font-family: sans-serif;
	vertical-align: bottom;
	position: relative;
    z-index: 3;
}

.tab_thumbnail {
	width: 176px;
	height: 150px;
	background-color: #dddddd;
	object-fit: cover;
	object-position: 0% 0%;
}

.tab_pin {
	width: 24px;
	height: 24px;
	left: 76px;
	top: -12px;
	position: absolute;
	z-index: 2;
}

.tab_cover {
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 176px;
	height: 176px;
	position: absolute;
	z-index: 1;
	background-color: transparent;
	line-height: 176px;
	font-size: 4em;
	color: #aaa;
	text-align: center;
	vertical-align: middle;
   	user-select: none;
}

.selected {
	background-color: #0006;
}

.hidden {
	display: none;
}

#separator {
	width: 576px;
	text-align: center;
	float: left;
}

#separator .separator_bar {
	width: 544px;
	text-align: center;
	margin: 16px 16px 8px 16px;
	background-color: #888;
	height: 0px;
}

#separator .separator_other_windows {
	text-align: center;
	font-size: 1.5em;
	color: #444;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}