
body.popup {
	background-color: #888;
	height: 576px;
}

#bottom_padding {
	height: 8px;
	background-color: transparent;
	float: left;
}

#tab_template_container {
	display: none
}

.tab {
	width: 176px;
	height: 176px;
	margin: 8px;
	padding: 0px;
	background-color: #fff;
	box-shadow: 4px 4px 4px rgba(0.5, 0.5, 0.5, 0.2);
	position: relative;
	display: inline-block;
	float: left;
}

.tab.dragging, .tab.entered.dragging {
	box-shadow: 4px 4px 12px rgba(0.5, 0.5, 0.5, 0.5);
}

.tab.entered {
	box-shadow: 4px 4px 8px rgba(0.5, 0.5, 0.5, 0.4);
}

.new_tab {
	background-color: #ffff;
}

.tab_fixed {
	background-color: #ddd;
}

.tab_title {
	max-width: 168px;
	width: 168px;
	height: 18px;
	margin: 4px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.tab_group_cover {
	position: absolute;
	max-width: 168px;
	width: 168px;
	left: 0px;
	bottom:	0px;
	height: 18px;
	padding: 4px;
	opacity: 50%;
	white-space: nowrap;
    overflow: hidden;
	background: #FFFFFF;
}

.tab_group {
	position: absolute;
	max-width: 168px;
	width: 168px;
	left: 0px;
	bottom:	0px;
	height: 18px;
	padding: 4px;
	opacity: 75%;
	white-space: nowrap;
    overflow: hidden;
	background: #00000088;
}

.tab_group_name {
	position: absolute;
	max-width: 168px;
	width: 168px;
	left: 0px;
	bottom:	0px;
	height: 18px;
	padding: 4px;
	color: black;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	background: transparent;
    -webkit-text-overflow: ellipsis;
}

.tab_title.entered {
	max-width: 146px;
	width: 146px;
}

.tab_favicon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	vertical-align: middle;
}

.tab_title_span {
	height: 16px;
	margin-right: 4px;
	font-family: sans-serif;
	vertical-align: middle;
	position: relative;
    z-index: 3;
}

.tab_close {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 2px;
	right: 2px;
	text-align: center;
	vertical-align: middle;
    z-index: 5;
}

.tab_close img {
	margin: 3px;
	text-align: center;
	vertical-align: middle;
}

.tab_close.entered {
	background: #0003;
}

.tab_thumbnail {
	width: 176px;
	height: 150px;
	background-color: #dddddd;
	object-fit: cover;
	object-position: 0% 0%;
}

.tab_pin {
	width: 24px;
	height: 24px;
	left: 76px;
	top: -12px;
	position: absolute;
	z-index: 2;
}

.tab_cover {
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 176px;
	height: 176px;
	position: absolute;
	z-index: 1;
	background-color: transparent;
	line-height: 176px;
	font-size: 4em;
	color: #aaa;
	text-align: center;
	vertical-align: middle;
   	user-select: none;
}

.tab_cover.dragging {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.selected {
	background-color: #0006;
}

.highlighted {
	outline: 4px solid #FF0000;
}

.hidden {
	display: none;
}

#separator {
	height: 48px;
	text-align: center;
	padding: 16px 16px 0px 16px;
	float: left;
}

#separator .separator_bar {
	width: 100%;
	text-align: center;
	background-color: #888;
	margin: 4px 0px 12px 0px;
	height: 0px;
}

#separator .separator_other_windows {
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bottom_button_div {
	margin: 12px 0px 0px 0px;
	padding: 4px;
	text-align: right;
	float: left;
}

#bottom_button_options {
	padding: 6px;
	background: #00000044;
	border-style: none;
	color: white;
	border-radius: 6px;
}

#bottom_button_options:active {
	background: #00000066;
}

.options {
	padding: 4px 8px;
}

.options p {
	margin: 4px 0px;
}

#options_color_preview {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: bottom;
}